<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>ONScripter-RU</string>
	<key>BBLMLanguageCode</key>
	<string>;mod</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>abssetcursor</string>
		<string>add</string>
		<string>addkinsoku</string>
		<string>addnsadir</string>
		<string>allsp2hide</string>
		<string>allsp2resume</string>
		<string>allsphide</string>
		<string>allspresume</string>
		<string>amsp</string>
		<string>amsp2</string>
		<string>arc</string>
		<string>atoi</string>
		<string>autoclick</string>
		<string>automode</string>
		<string>automode_time</string>
		<string>autosaveoff</string>
		<string>avi</string>
		<string>bar</string>
		<string>barclear</string>
		<string>bclear</string>
		<string>bcursor</string>
		<string>bdef</string>
		<string>bdown</string>
		<string>bexec</string>
		<string>bg</string>
		<string>bgalia</string>
		<string>bgcopy</string>
		<string>bgm</string>
		<string>bgmdownmode</string>
		<string>bgmfadein</string>
		<string>bgmfadeout</string>
		<string>bgmonce</string>
		<string>bgmstop</string>
		<string>bgmvol</string>
		<string>blt</string>
		<string>bmpcut</string>
		<string>br</string>
		<string>break</string>
		<string>bsp</string>
		<string>btime</string>
		<string>btn</string>
		<string>btnarea</string>
		<string>btndef</string>
		<string>btndown</string>
		<string>btnnowindowerase</string>
		<string>btntime</string>
		<string>btntime2</string>
		<string>btnwait</string>
		<string>btnwait2</string>
		<string>btrans</string>
		<string>bw2a</string>
		<string>bw2a3</string>
		<string>caption</string>
		<string>cdfadeout</string>
		<string>cell</string>
		<string>cellcheckexbtn</string>
		<string>cellcheckspbtn</string>
		<string>chainbmp</string>
		<string>checkkey</string>
		<string>checkpage</string>
		<string>chkcdfile</string>
		<string>chkcdfile_ex</string>
		<string>chvol</string>
		<string>cl</string>
		<string>click</string>
		<string>clickpos</string>
		<string>clickskippage</string>
		<string>clickstr</string>
		<string>clickvoice</string>
		<string>cmp</string>
		<string>cos</string>
		<string>createdummy</string>
		<string>csel</string>
		<string>cselbtn</string>
		<string>cselgoto</string>
		<string>csp</string>
		<string>csp2</string>
		<string>csvclose</string>
		<string>csveof</string>
		<string>csvopen</string>
		<string>csvread</string>
		<string>csvwrite</string>
		<string>date</string>
		<string>debuglog</string>
		<string>dec</string>
		<string>defaultfont</string>
		<string>defaultspeed</string>
		<string>defbgmvol</string>
		<string>definereset</string>
		<string>defmp3vol</string>
		<string>defsevol</string>
		<string>defsub</string>
		<string>defvoicevol</string>
		<string>delay</string>
		<string>deletemenu</string>
		<string>deletescreenshot</string>
		<string>dim</string>
		<string>div</string>
		<string>draw</string>
		<string>drawbg</string>
		<string>drawbg2</string>
		<string>drawclear</string>
		<string>drawfill</string>
		<string>drawsp</string>
		<string>drawsp2</string>
		<string>drawsp3</string>
		<string>drawtext</string>
		<string>dsound</string>
		<string>dv</string>
		<string>dwave</string>
		<string>dwaveload</string>
		<string>dwaveloop</string>
		<string>dwaveplay</string>
		<string>dwaveplayloop</string>
		<string>dwavestop</string>
		<string>effect</string>
		<string>effectblank</string>
		<string>effectcut</string>
		<string>effectskip</string>
		<string>end</string>
		<string>english</string>
		<string>erasetextbtn</string>
		<string>erasetextwindow</string>
		<string>errorsave</string>
		<string>exbtn</string>
		<string>exbtn_d</string>
		<string>exec_dll</string>
		<string>fchk</string>
		<string>fileexist</string>
		<string>filelog</string>
		<string>fileremove</string>
		<string>flushout</string>
		<string>font</string>
		<string>for</string>
		<string>game</string>
		<string>gameid</string>
		<string>getbtntimer</string>
		<string>getcselnum</string>
		<string>getcselstr</string>
		<string>getcursor</string>
		<string>getcursorpos</string>
		<string>getcursorpos2</string>
		<string>getenter</string>
		<string>getfunction</string>
		<string>getini</string>
		<string>getinsert</string>
		<string>getlog</string>
		<string>getlogtext</string>
		<string>getmclick</string>
		<string>getmouseover</string>
		<string>getmousepos</string>
		<string>getnextline</string>
		<string>getpage</string>
		<string>getparam</string>
		<string>getreg</string>
		<string>getret</string>
		<string>getsavestr</string>
		<string>getscreenshot</string>
		<string>getskipoff</string>
		<string>getspmode</string>
		<string>getspsize</string>
		<string>gettab</string>
		<string>gettag</string>
		<string>gettaglog</string>
		<string>gettext</string>
		<string>gettextbtnstr</string>
		<string>gettimer</string>
		<string>getversion</string>
		<string>getwindowsize</string>
		<string>getzxc</string>
		<string>globalon</string>
		<string>gosub</string>
		<string>goto</string>
		<string>h_breakstr</string>
		<string>h_fontstyle</string>
		<string>h_indentstr</string>
		<string>h_ligate</string>
		<string>h_mapfont</string>
		<string>h_rendering</string>
		<string>humanorder</string>
		<string>humanpos</string>
		<string>humanz</string>
		<string>if</string>
		<string>inc</string>
		<string>indent</string>
		<string>input</string>
		<string>inputnum</string>
		<string>inputstr</string>
		<string>insertmenu</string>
		<string>intlimit</string>
		<string>isdown</string>
		<string>isfull</string>
		<string>ispage</string>
		<string>isskip</string>
		<string>itoa</string>
		<string>itoa2</string>
		<string>jumpb</string>
		<string>jumpf</string>
		<string>kidokumode</string>
		<string>kidokuskip</string>
		<string>killmenu</string>
		<string>kinsoku</string>
		<string>labelexist</string>
		<string>labellog</string>
		<string>language</string>
		<string>layermessage</string>
		<string>lchk</string>
		<string>ld</string>
		<string>len</string>
		<string>linepage</string>
		<string>linkcolor</string>
		<string>loadgame</string>
		<string>loadgosub</string>
		<string>localestring</string>
		<string>locate</string>
		<string>logsp</string>
		<string>logsp2</string>
		<string>lookbackbutton</string>
		<string>lookbackcolor</string>
		<string>lookbackflush</string>
		<string>lookbackoff</string>
		<string>lookbackon</string>
		<string>lookbacksp</string>
		<string>lookbackvoice</string>
		<string>loopbgm</string>
		<string>loopbgmstop</string>
		<string>lr_trap</string>
		<string>lr_trap2</string>
		<string>lrclick</string>
		<string>lsp</string>
		<string>lsp2</string>
		<string>lsp2add</string>
		<string>lsp2sub</string>
		<string>lsph</string>
		<string>lsph2</string>
		<string>lsph2add</string>
		<string>lsph2sub</string>
		<string>luacall</string>
		<string>luasub</string>
		<string>maxkaisoupage</string>
		<string>menu_click_def</string>
		<string>menu_click_page</string>
		<string>menu_dwavvol</string>
		<string>menu_full</string>
		<string>menu_waveoff</string>
		<string>menu_waveon</string>
		<string>menu_window</string>
		<string>menuselectcolor</string>
		<string>menuselectvoice</string>
		<string>menusetwindow</string>
		<string>mesbox</string>
		<string>mid</string>
		<string>minimizewindow</string>
		<string>mod</string>
		<string>mode_ext</string>
		<string>mode_saya</string>
		<string>mode_wave_demo</string>
		<string>mode320</string>
		<string>mode400</string>
		<string>mode800</string>
		<string>monocro</string>
		<string>mousecursor</string>
		<string>mousemode</string>
		<string>mov</string>
		<string>mov10</string>
		<string>mov3</string>
		<string>mov4</string>
		<string>mov5</string>
		<string>mov6</string>
		<string>mov7</string>
		<string>mov8</string>
		<string>mov9</string>
		<string>movemousecursor</string>
		<string>movie</string>
		<string>movl</string>
		<string>mp3</string>
		<string>mp3fadein</string>
		<string>mp3fadeout</string>
		<string>mp3loop</string>
		<string>mp3save</string>
		<string>mp3stop</string>
		<string>mp3vol</string>
		<string>mpegplay</string>
		<string>msp</string>
		<string>msp2</string>
		<string>mul</string>
		<string>mv</string>
		<string>nega</string>
		<string>next</string>
		<string>nextcsel</string>
		<string>noloaderror</string>
		<string>noteraseman</string>
		<string>notif</string>
		<string>nsa</string>
		<string>nsadir</string>
		<string>numalias</string>
		<string>ofscpy</string>
		<string>okcancelbox</string>
		<string>pagetag</string>
		<string>pbreakstr</string>
		<string>pfontstyle</string>
		<string>pindentstr</string>
		<string>play</string>
		<string>playonce</string>
		<string>playstop</string>
		<string>pligate</string>
		<string>pmapfont</string>
		<string>prendering</string>
		<string>pretextgosub</string>
		<string>print</string>
		<string>prnum</string>
		<string>prnumclear</string>
		<string>puttext</string>
		<string>quake</string>
		<string>quakex</string>
		<string>quakey</string>
		<string>r_trap</string>
		<string>readfile</string>
		<string>repaint</string>
		<string>reset</string>
		<string>resetmenu</string>
		<string>resettimer</string>
		<string>return</string>
		<string>rgosub</string>
		<string>rlookback</string>
		<string>rmenu</string>
		<string>rmode</string>
		<string>rnd</string>
		<string>rnd2</string>
		<string>roff</string>
		<string>rubyoff</string>
		<string>rubyon</string>
		<string>rubyon2</string>
		<string>savedir</string>
		<string>savefileexist</string>
		<string>savegame</string>
		<string>savegame2</string>
		<string>savename</string>
		<string>savenumber</string>
		<string>saveoff</string>
		<string>saveon</string>
		<string>savepoint</string>
		<string>savescreenshot</string>
		<string>savescreenshot2</string>
		<string>savetime</string>
		<string>select</string>
		<string>selectbtnwait</string>
		<string>selectcolor</string>
		<string>selectvoice</string>
		<string>selgosub</string>
		<string>selnum</string>
		<string>setcursor</string>
		<string>setkinsoku</string>
		<string>setlayer</string>
		<string>setwindow</string>
		<string>setwindow2</string>
		<string>setwindow3</string>
		<string>sevol</string>
		<string>shadedistance</string>
		<string>shell</string>
		<string>sin</string>
		<string>skip</string>
		<string>skipoff</string>
		<string>soundpressplgin</string>
		<string>spbtn</string>
		<string>spclclk</string>
		<string>spfont</string>
		<string>spi</string>
		<string>split</string>
		<string>spstr</string>
		<string>spwait</string>
		<string>stop</string>
		<string>stralias</string>
		<string>strsp</string>
		<string>strsph</string>
		<string>sub</string>
		<string>systemcall</string>
		<string>tablegoto</string>
		<string>tal</string>
		<string>tan</string>
		<string>tateyoko</string>
		<string>texec</string>
		<string>texec2</string>
		<string>textbtnoff</string>
		<string>textbtnstart</string>
		<string>textbtnwait</string>
		<string>textclear</string>
		<string>textcolor</string>
		<string>textexbtn</string>
		<string>textfield</string>
		<string>textgosub</string>
		<string>texthide</string>
		<string>textoff</string>
		<string>texton</string>
		<string>textshow</string>
		<string>textspeed</string>
		<string>textspeeddefault</string>
		<string>time</string>
		<string>transbtn</string>
		<string>transmode</string>
		<string>trap</string>
		<string>trap2</string>
		<string>underline</string>
		<string>useescspc</string>
		<string>usewheel</string>
		<string>v</string>
		<string>value</string>
		<string>versionstr</string>
		<string>voicevol</string>
		<string>vsp</string>
		<string>vsp2</string>
		<string>wait</string>
		<string>waittimer</string>
		<string>wave</string>
		<string>waveloop</string>
		<string>wavestop</string>
		<string>windowback</string>
		<string>windowchip</string>
		<string>windoweffect</string>
		<string>winexec</string>
		<string>yesnobox</string>
		<string>disablespeedbuttons</string>
		<string>enable_custom_cursors</string>
		<string>windowback_var</string>
		<string>debug_string</string>
		<string>moveable_lsp_list</string>
		<string>moveable_lsp2_list</string>
		<string>moveable_types_list</string>
		<string>movs</string>
		<string>pseudo_delay</string>
		<string>setdefaultspeed</string>
		<string>timestamp</string>
		<string>wait2</string>
		<string>audio</string>
		<string>autotext</string>
		<string>cvideo</string>
		<string>displayscreenshot</string>
		<string>quake_end</string>
		<string>quake_pause</string>
		<string>quake_start</string>
		<string>quake_wait</string>
		<string>single_move</string>
		<string>talsp</string>
		<string>video</string>
		<string>vsfx</string>
		<string>vlsprite</string>
		<string>vmove</string>
		<string>vsprite</string>
		<!-- This part badly needs documenting -->		
		<string>sprite_mask</string>
		<string>async_load_cache</string>
		<string>load_cache</string>
		<string>clear_cache</string>
		<string>talsp</string>
		<string>smart_quotes</string>
		<string>no_smart_quotes</string>
		<string>setwindow4</string>
		<string>preset_define</string>
		<string>loadfromreg</string>
		<string>loadreg</string>
		<string>lips_on</string>
		<string>lips_off</string>
		<string>lips_sprites</string>
		<string>lips_ld</string>
		<string>cvideo</string>
		<string>vmove</string>
		<string>monocrolsp</string>
		<string>enable_custom_cursors</string>
		<string>displayscreenshot</string>
		<string>count_symbols</string>
		<string>change_font</string>
		<string>bold_font</string>
		<string>italic_font</string>
		<string>bold_italic_font</string>
		<string>borderstyle</string>
		<!-- This part is probably outdated  -->
		<string>!sd\</string>
		<string>!sd/</string>
		<string>!sd</string>
		<string>!s0\</string>
		<string>!s0/</string>
		<string>!s0</string>
		<string>@dwave</string>
		<string>@lv</string>
		<string>@/</string>
		<string>@</string>
		<string>/</string>
		<string>\</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>debug_str</string>
		<string>debug_str2</string>
		<string>debug_var</string>
		<string>msgwnd_ama</string>
		<string>msgwnd_bea</string>
		<string>msgwnd_ber</string>
		<string>msgwnd_but</string>
		<string>msgwnd_cla</string>
		<string>msgwnd_enj</string>
		<string>msgwnd_ev2</string>
		<string>msgwnd_eva</string>
		<string>msgwnd_gap</string>
		<string>msgwnd_gen</string>
		<string>msgwnd_geo</string>
		<string>msgwnd_goa</string>
		<string>msgwnd_goh</string>
		<string>msgwnd_hid</string>
		<string>msgwnd_jes</string>
		<string>msgwnd_ka2</string>
		<string>msgwnd_kan</string>
		<string>msgwnd_kas</string>
		<string>msgwnd_kaw</string>
		<string>msgwnd_kin</string>
		<string>msgwnd_kir</string>
		<string>msgwnd_ku2</string>
		<string>msgwnd_kum</string>
		<string>msgwnd_lam</string>
		<string>msgwnd_mar</string>
		<string>msgwnd_na2</string>
		<string>msgwnd_nan</string>
		<string>msgwnd_nat</string>
		<string>msgwnd_oko</string>
		<string>msgwnd_pro</string>
		<string>msgwnd_rg1</string>
		<string>msgwnd_rg2</string>
		<string>msgwnd_rg3</string>
		<string>msgwnd_rg4</string>
		<string>msgwnd_rg5</string>
		<string>msgwnd_rg6</string>
		<string>msgwnd_rg7</string>
		<string>msgwnd_ron</string>
		<string>msgwnd_ros</string>
		<string>msgwnd_rud</string>
		<string>msgwnd_s00</string>
		<string>msgwnd_s41</string>
		<string>msgwnd_s45</string>
		<string>msgwnd_s55</string>
		<string>msgwnd_s56</string>
		<string>msgwnd_sak</string>
		<string>msgwnd_sha</string>
		<string>msgwnd_wal</string>
		<string>msgwnd_non</string>
		<string>me1</string>
		<string>me1v</string>
		<string>me2</string>
		<string>me2v</string>
		<string>me3</string>
		<string>me3v</string>
		<string>me4</string>
		<string>me4v</string>
		<string>me5</string>
		<string>me5v</string>
		<string>bgm1</string>
		<string>bgm1v</string>
		<string>meplay</string>
		<string>meplay2</string>
		<string>bgmplay</string>
		<string>bgmplay2</string>
		<string>se1</string>
		<string>se2</string>
		<string>se3</string>
		<string>se1v</string>
		<string>se2v</string>
		<string>se3v</string>
		<string>seplay</string>
		<string>seplay2</string>
		<string>mevol</string>
		<string>vol_bgm</string>
		<string>effect_vol</string>
		<string>voice_vol</string>
		<string>e_</string>
		<string>E_B</string>
		<string>E_M1</string>
		<string>E_M2</string>
		<string>E_M3</string>
		<string>E_M4</string>
		<string>E_M5</string>
		<string>E_A</string>
		<string>E_MA</string>
		<string>Fede</string>
		<string>FedeXX</string>
		<string>cross1</string>
		<string>cross2</string>
		<string>dllefe</string>
		<string>dllefe_off</string>
		<string>trophy_open</string>
		<string>mono</string>
		<string>pdl_on</string>
		<string>pdl_off</string>
		<string>bglayer</string>
		<string>bglayer_off</string>
		<string>log_reset</string>
		<string>vaudio</string>
		<string>vid_sfx</string>
		<string>pam</string>
		<string>flg_set</string>
		<string>flg_p</string>
		<string>clock</string>
		<string>eye1</string>
		<string>eye2</string>
		<string>eye11</string>
		<string>eye12</string>
		<string>meta_set</string>
		<string>meta_set2</string>
		<string>meta_set_ef</string>
		<string>meta_set2_ef</string>
		<string>meta_end</string>
		<string>meta_end_ef</string>
		<string>meta_ld</string>
		<string>meta_cl</string>
		<string>meta_bg</string>
		<string>meta_cbg</string>
		<string>mset</string>
		<string>mset2</string>
		<string>msetef</string>
		<string>mset2ef</string>
		<string>mend</string>
		<string>mendef</string>
		<string>mld</string>
		<string>mcl</string>
		<string>mbg</string>
		<string>mcbg</string>
		<string>mchana</string>
		<string>mhana1</string>
		<string>mhana2</string>
		<string>bfly1</string>
		<string>bfly1R</string>
		<string>bfly2</string>
		<string>bfly2R</string>
		<string>cbfly</string>
		<string>tati_x_get</string>
		<string>lss</string>
		<string>lbg</string>
		<string>lcl</string>
		<string>lv</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\?!@</string>
		<key>Open Line Comments</key>
		<string>;</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>`</string>
		<key>Close Strings 2</key>
		<string>`</string>
	</dict> 
</dict>
</plist>